body {
  background-color: #9bd7ff;
}

.logincontainer {
  margin: 6rem auto;
  background-color: white;
  padding: 16px;
  box-shadow: 2px 8px 5px rgba(0, 0, 0, 0.1);
}
.logincontainer button {
  background-color: #0099ff;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  background-color: #f2f2f2;
  border: 1px solid #dedede;
}
button{
  margin-top: -5px;
  margin-bottom: 20px;
}


@media screen and (max-width: 570px) {
  .logincontainer {
    width: 85%;
  }
}
